{% extends 'base.html.twig' %}

{% block title %}New Delegation{% endblock %}

{% block body %}
    <h1>Create new Delegation</h1>

    {{ include('delegation/_form.html.twig') }}

    <a class="btn btn-outline-dark m-2" href="{{ path('app_delegation_index') }}">back to list</a>
{% endblock %}
